<div id="home-container-1">
	
	<div class="title">Ritzy Renter</div>
	
	<div class="row" style="max-width: 70rem; margin-top: 25vh;">
		<div class="small-12 medium-4 columns">
			<%= link_to 'Rate a Landlord', new_review_path, class: 'square'%>
		</div>
		<div class="small-12 medium-4 columns">
			<%= link_to 'Find a Landlord', '#', class: 'square'%>
		</div>
		<div class="small-12 medium-4 columns">
			<%= link_to 'View Map      ', '#', class: 'square'%>
		</div>
	</div>
</div>